.parallax-container{
  background-color: red;
  background-image: url('https://images.pexels.com/photos/48898/wood-cube-abc-cube-letters-48898.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .75;
  max-height: 18.75em;
}

.parallax-container h1,
.parallax-container h5{
  font-weight: bold;
}
#pos-rel{
  position: relative;
}
#text{
  margin-top: 2em;
  padding: 1em;
  margin-bottom: 2em;
  min-height: 50vh;
  text-align: center;

}

footer p {
  padding-bottom: 1em;
}

#why{
  position: absolute;
  top: -100%;
}

#copy-btn{
  position: absolute;
  bottom: 0;
  right: 0;
}
